<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>vue begin</title>
	<style>
        .emptyCss{
            border-color: red;
        }
	</style>
</head>
<body>
<div id="app">
	<input v-model="value" v-bind:class="{'emptyCss': !count}">
	<input type="button" v-on:click="sendMsg" value="发送">
	<div>value的值是: {{ value }}</div>
	<div v-if="count">字数：{{ count }}</div>
</div>
</body>
<script src="../js/vue.js"></script>
<script>
	let app = new Vue({
		el: "#app",
		data: function () {
			return {
				value: ""
			}
		},
		methods: {
			sendMsg: function () {
				if(!this.count){
					alert("请输入内容")
					return
				}
				alert("发送成功"+this.value)
				this.value = ""
			}
		},
		computed: {
			count: function () {
				return this.value.length
			}
		}
	})
</script>

</html>
