<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>todo list</title>
	<style>
        .empty {
            border-color: red;
        }

        .completed {
            text-decoration: line-through;
        }

        .selected {
            color: red;
        }

        .todoList {
            margin: 15px 0;
            display: flex;
        }

        .titleCss {
            width: 100px;
        }
	</style>
</head>
<body>
<div id="todo-app">
	<div>
		<input type="button" value="全部标为完成">
		<input type="text" placeholder="添加 todo"
			   v-model="newTodoTitle"
			   @keyup.enter="addTodo"
			   :class="{empty: emptyCheck}">
		<span v-if="emptyCheck" style="color: red">请输入内容</span>
	</div>

	<!-- todo list -->
	<div class="todoList" v-for="todo in todos" :key="todo.id">
		<div :class="{titleCss: true,completed: todo.completed}">{{ todo.title }}</div>
		<input type="button" value="标为完成"
			   v-on:click="markAsCompleted(todo)"
			   v-if="!todo.completed">
		<input type="button" value="标为未完成" v-else
			   v-on:click="markAsUncompleted(todo)">
		<input type="button" value="删除">
		<input type="text" value="编辑 todo...">
	</div>

	<!-- end todo list -->
	<div>
		<span>剩余 3 项未完成 ---</span>
		<span>筛选：
			<input type="button" class="selected" value="全部">
			<input type="button" value="进行中">
			<input type="button" value="已完成">
			<input type="button" value="清除已完成">
			<input type="button" value="清除全部">
		</span>
	</div>
</div>
<script src="../js/vue.js"></script>
<script>
	let id = 3;
	let app = new Vue({
		el: '#todo-app',
		data: function () {
			return {
				todos: [
					{id: 0, title: "学习 Vue", completed: false},
					{id: 1, title: "赚钱", completed: false},
					{id: 2, title: "娶冰冰", completed: false}
				],
				newTodoTitle: "",
				checkEmpty: false
			}
		},
		methods: {
			addTodo: function () {//增加todo list
				if (this.newTodoTitle.length > 0) {
					this.todos.push({id: id++, title: this.newTodoTitle, completed: false})
					this.newTodoTitle = ""
					this.checkEmpty = false
				} else {
					this.checkEmpty = true
				}
			},
			markAsCompleted: function (todo) {//标为完成
				todo.completed = true
			},
			markAsUncompleted: function (todo) {
				todo.completed = false;
			}
		},
		computed: {
			emptyCheck: function () {
				return this.newTodoTitle.length === 0 && this.checkEmpty
			}
		}
	})
</script>
</body>
</html>
